<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OrderInfoMapper">

    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert  into orderinfo(uid,status) values(#{uid},0)
    </insert>
    <update id="up">
        update orderinfo  set status=#{status} where id=#{oid}
    </update>
    <select id="getList" resultType="com.example.demo.model.OrderInfo">
        select * from orderinfo where uid=#{uid}
    </select>
    <select id="getAllList" resultType="com.example.demo.model.OrderInfo">
        select o.*,u.username uname from orderinfo o left join userinfo  u on o.uid=u.id order by  o.id desc
    </select>
</mapper>